<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>list</title>
		<link rel="stylesheet" type="text/css" href="../../css/mstyles.css">
		<link rel="stylesheet" type="text/css" href="../../css/fontstyles.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script type="text/javascript" src="../../js/imgReady.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/req/attView');
		</script>
	</head>

	<body>
		<div class="view">
			<header class="header clearfix">
				<span class="floatleft" id="backAction"><i class="icon-iback font22"></i></span>
				<span class="mid_name font14 aligncenter" id="attName"></span>
			</header>
			<!--<section class="main form_main" id="wrapper">
				<div id="scroller">
					<p class="aligncenter AttchImg">
						<img src="../img/1.jpg">
					</p>
				</div>
			</section>-->
		</div>
	</body>

</html>