/**
 * CSS3 特效
 */

.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes zoomOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	100% {
		opacity: 0;
	}
}
@keyframes zoomOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	100% {
		opacity: 0;
	}
}
.zoomOut {
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut;
}
/**
 * 加载框
 */

#sjLoading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
}
#sjLoading div {
	display: inline-block;
	padding: 10px 15px;
	font-weight: normal;
	font-size: 12px;
	background-color: #fff;
	border-radius: 2px;
}
#sjLoading div .mui-icon {
	margin-top: 0;
	font-size: 16px;
}
/**
 * 欢迎界面
 */

#hcWelcome {
	z-index: 9999;
	display: none;
}
#hcWelcome .mui-slider-indicator {
	height: 24px;
}
#hcWelcome .mui-indicator {
	width: 24px;
	height: 24px;
	margin: 1px 2px;
	border-radius: 0;
	background: url(wel_inactive.png) 0 0 no-repeat transparent;
	background-size: 24px 24px;
	box-shadow: none;
}
#hcWelcome .mui-indicator.mui-active {
	background: url(wel_active.png) 0 0 no-repeat transparent;
}
#hcStartUsing {
	position: absolute;
	left: 0;
	bottom: 80px;
	width: 100%;
	height: 56px;
	text-align: center;
}
#hcStartUsing a {
	display: inline-block;
	width: 164px;
	height: 54px;
	line-height: 51px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 2px;
	opacity: 0.8;
}
#hcStartUsing a:active,
#hcStartUsing a:focus {
	opacity: 0.4;
}
/**
 * 公共
 */

html,
body {
	background: #eee;
}
#hcHeader {
	top: -1px;
	/*修复某些手机距离顶部有1px空隙的bug*/
	
	background-color: rgba(33, 181, 82, 0.98);
	border-bottom: 1px solid rgba(30, 163, 74, 0.98);
	background-image: radial-gradient( ellipse at center -5px, #2fd474, #21b552);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
#hcHeader .mui-title {
	/*font-weight: bold;*/
	
	color: #fff;
}
#hcHeader .mui-icon {
	color: #fff;
}
#hcShare {
	display: none;
}
.mui-content {
	background: #eee;
}
.mui-table-view {
	margin-top: 0 !important;
	padding: 10px;
	background-color: transparent;
	background-image: none;
}
.mui-table-view-cell {
	margin-bottom: 10px;
	padding: 15px;
	background-color: #fff;
	background-image: none;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	border-radius: 2px;
}
.mui-table-view-cell:last-child {
	margin-bottom: 0;
}
.mui-table-view-cell > a:not(.mui-btn) {
	margin: -15px;
}
#hcFooter {
	background-color: rgba(250, 250, 250, 0.98);
	box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}
#hcFooter .mui-tab-item.mui-active {
	color: rgb(33, 181, 82);
}
iframe.hcIframeBox {
	position: absolute;
	top: 43px;
	left: 0;
	display: none;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}
/**
 * 生活保健
 */

#hcLifeList .hc-title {
	margin-bottom: 10px;
}
#hcLifeList .hc-info {
	display: block;
	font-size: 12px;
	color: #bbb;
}
#hcLifeList .hc-info span {
	margin-right: 5px;
}
/**
 * 旅游中国
 */

#hcTravelList .mui-media-object {
	max-width: none;
	width: 90px;
	height: 60px;
}
#hcTravelList .hc-loc,
#hcTravelList .hc-info {
	font-size: 12px;
	color: #999;
}
#hcTravelList .hc-info {
	position: relative;
}
#hcTravelList .hc-loc span,
#hcTravelList .hc-info span {
	margin-right: 3px;
}
#hcTravelList .hc-loc .fa {
	font-weight: bold;
	font-size: 14px;
	color: #DD524D;
}
#hcTravelList .hc-info .fa {
	font-size: 14px;
	color: #EC971F;
}
#hcTravelList .hc-info .hc-like {
	position: absolute;
	top: 0;
	right: 0;
}
#hcTravelList .hc-info .hc-like .fa {
	color: #DD524D;
}