<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>list</title>
		<link rel="stylesheet" type="text/css" href="../css/mstyles.css">
		<link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../js/sea.js"></script>
		<script type="text/javascript" src="../js/json2.js"></script>
		<script type="text/javascript" src="../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../js/support.js"></script>
		<script>
			seajs.config({
				base: "../js/modules/"
			});
			seajs.use('view/home');
		</script>
	</head>

	<body>
		<div class="view">
			<footer class="footer_tool" id="bottomTab">
				<span lang="0" class="current" dir="platform"><i class="icon-laptop-chromebook"></i>工作台</span>
				<span lang="0" dir="history"><i class="icon-play-install"></i>归档</span>
				<span lang="0" dir="search"><i class="icon-search2"></i>搜索</span>
				<span lang="0" dir="send"><i class="icon-plus"></i>提交申请</span>
			</footer>
		</div>
	</body>

</html>