<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>reg</title>
		<link rel="stylesheet" type="text/css" href="../css/mstyles.css">
		<link rel="stylesheet" type="text/css" href="../css/fontstyles.css">
		<script type="text/javascript" src="../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../js/sea.js"></script>
		<script type="text/javascript" src="../js/json2.js"></script>
		<script type="text/javascript" src="../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../js/support.js"></script>
		<script>
			seajs.config({
				base: "../js/modules/"
			});
			seajs.use('view/reg');
		</script>
	</head>
	<body>
		<div class="view">
			<header class="header  clearfix">
				<span class="floatleft " id="backAction"><i class="icon-iback font22"></i></span>
			</header>
			<!--<section class="main" style="top:45px;">
	            <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="http://www.mingdao.com/m/default.htm"></iframe>
			</section>-->
		</div>
	</body>
</html>