<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>list</title>
		<link rel="stylesheet" type="text/css" href="../../css/mstyles.css">
		<link rel="stylesheet" type="text/css" href="../../css/fontstyles.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/history/head');
		</script>
	</head>

	<body>
		<header class="header clearfix">
			<span class="mid_name font14 aligncenter">请选择类别</span>
		</header>
		<!--分类begin-->
		<section class="search_out apps_title aligncenter" id="historyTab">
			<span class="current" dir="req" lang="0">申请</span>
			<span dir="task" lang="0">审批</span>
			<span dir="manage" lang="0">经办</span>
			<span dir="share" lang="0">传阅</span>
		</section>
		<!--分类over-->

	</body>

</html>